body {
    font-family: 'Roboto', sans-serif !important;
    width: 600px;
}

h1{
    font-size:28px !important;
    font-weight: 900 !important;
}
h8{
    font-size: 13.5px;
}

.credits{
    width: 100%;
    line-height: 0.4rem;
    padding-top: 1rem;
}

.container-body{
    padding-left: 0 !important;
    padding-bottom: 10px;
}
.container-parent-bp{
    padding-left: 0 !important;
    background-color: rgba(226,76,76,0.7);
    border-radius: 5px;
}
.container-parent{
    padding-left: 0 !important;
    background-color: rgba(226,76,76,0.7);
    border-radius: 5px;
}
.container-daughter{
    padding-left: 0 !important;
    background-color:rgba(178,76,226,0.7);
    border-radius: 5px;
    
}
.container-helium{
    padding-left: 0 !important;
    background-color:rgba(76,217,226,0.7);
    border-radius: 5px;
}
.container-electron{
    padding-left: 0 !important;
    background-color:rgba(247,198,0,0.7);
    border-radius: 5px;
}
.padding{
    padding-bottom: 5px;
}

.Helium{
    padding-top: 13px;
    padding-left: 2px;
}


.HeliumFlex{
    padding-top: 5px;
}

.flex-grow {
    flex: 0.3;
}

.img-logo {
    height: 75px !important;
    width: auto !important;
}

.form-control1 {
    display: block !important;
    width: 50px !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #212529;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}